.cancel_exchange_list {
  padding: 0px 20px;
  .box-width {
    .width-default {
      border: 1px solid #cccccc;
      border-radius: 15px;
      margin: 10px 0px;
      padding: 20px 20px;
      .item-box {
        .content-top {
          padding-bottom: 15px;
          display: flex;
          justify-content: space-between;
          .left {
            line-height: 1.7;
          }
          .right {
            a {
              color: #5e8eff;
              text-decoration: underline;
            }
          }
        }
        .content-body {
          display: flex;
          padding: 15px 0px;
          border-top: 1px solid #cccccc;
          border-bottom: 1px solid #cccccc;
          .left {
            margin-right: 10px;
            span {
              display: block;
              padding: 3px 15px;
              border: 1px solid #9a9b9e;
              border-radius: 15px;
              font-size: 13px;
              color: #9a9b9e;
            }
          }
        }
        .content-bot {
          padding-top: 15px;
          display: flex;
          justify-content: space-between;
          .left {
            font-size: 20px;
            color: #ffb300;
          }
          .right {
            display: flex;
            a {
              display: block;
              padding: 7px 10px;
              border-radius: 3px;
              border: 1px solid #cccccc;
              color: #9a9b9e;
              &:last-child {
                margin-left: 10px;
              }
            }
          }
        }
      }
    }
  }
}
