.title-shipping-date {
  margin-top: 90px;
  .box-width {
    .width-default {
      .box-item {
        .item-info {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .left {
            display: flex;
            align-items: flex-start;
            .icon {
              margin-right: 15px;
              margin-top: 3px;
              i {
                font-size: 16px;
              }
            }
            .des {
              p {
                font-family: GmarketSansMedium;
                font-size: 20px;
                margin-bottom: 0;
                display: block;
                &:nth-child(1) {
                  color: #223591;
                }
                &:nth-child(2) {
                  span {
                    font-size: 20px;
                    &:first-child {
                      color: #27ab00;
                    }
                    &:nth-child(2) {
                      color: #9a9b9e;
                      strong {
                        font-weight: 400;
                        color: #333333;
                      }
                    }
                  }
                }
              }
            }
          }
          .right {
            text-decoration: underline;
            color: #223591;
            font-size: 16px;
            &.active {
              color: #fff;
              background-color: #223591;
              padding: 7px 10px;
              border-radius: 3px;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
.shipping-date {
  .box-width {
    .width-default {
      .box {
        padding: 20px;
        border: 1px solid #cccccc;
        border-radius: 15px;
        margin: 15px 0px;
        .form-date {
          label {
            font-weight: 600;
            color: #000;
          }
          input {
            width: 100%;
            position: relative;
            overflow: hidden;
            &::-webkit-calendar-picker-indicator {
              width: 100%;
              padding: 11px 0px;
              position: absolute;
              top: 0px;
              left: 0px;
              padding-left: 95%;
            }
          }
        }
      }
    }
  }
}

@include responsive("small") {
  .shipping-date {
    .box-width {
      .width-default {
        .box {
          padding: 20px;
          border: 1px solid #cccccc;
          border-radius: 15px;
          margin: 15px 0px;
          .form-date {
            label {
              font-weight: 600;
              color: #000;
            }
            input {
              width: 100%;
              position: relative;
              overflow: hidden;
              &::-webkit-calendar-picker-indicator {
                width: 100%;
                padding: 11px 0px;
                position: absolute;
                top: 0px;
                left: 0px;
                padding-left: 90%;
              }
            }
          }
        }
      }
    }
  }
}
